@media (min-width: 1024px) {
  .detail-container {
    flex-direction: row;
    gap: 32px;

    .detail-body-wrapper {
      height: 320px;
    }
  }
}

@media (max-width: 1024px) {
  .detail-container {
    flex-direction: column;
    gap: 8px;

    .detail-image-area {
      width: 100%;
    }
  }
}

.detail-wrapper {
  padding: 20px 16px 104px;
  min-height: calc(100vh - 4rem - 288px);

  .detail-container {
    display: flex;
    align-items: center;
    margin-top: 56px;

    .detail-image-area {
      display: flex;
      justify-content: center;
      padding: 16px;
      min-width: 320px;
      height: 320px;
      background-color: white;
      border-radius: 1rem;

      .detail-image {
        object-fit: contain;
        width: 288px;
        height: 288px;
      }
    }

    .detail-body-wrapper {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      gap: 0.5rem;
      color: hsl(220 13% 69% / 1);

      .detail-body-title {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 600;
        color: hsl(220 13% 69% / 1);

        .detail-body-tag {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: 0 8px;
          margin-left: 8px;
          height: 1.25rem;
          font-size: 0.875rem;
          font-weight: 600;
          border-radius: 1.9rem;
          border: solid 1px hsl(175 70% 41% / 1);
          background-color: hsl(175 70% 41% / 1);
          color: white;
        }
      }

      .detail-body-description {
        flex-grow: 1;
        line-height: 1.5rem;
      }

      .detail-body-review-area {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .detail-body-review-star-list {
          display: flex;

          .detail-body-review-star {
            -webkit-appearance: none;
            mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTkycHgiIGhlaWdodD0iMTgwcHgiIHZpZXdCb3g9IjAgMCAxOTIgMTgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCA2MC4xICg4ODEzMykgLSBodHRwczovL3NrZXRjaC5jb20gLS0+CiAgICA8dGl0bGU+c3Rhci0yPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBvbHlnb24gaWQ9InN0YXItMiIgZmlsbD0iIzAwMDAwMCIgcG9pbnRzPSI5NiAxNTMuMDQzNjYxIDM3LjIyMTQ3NDggMTc5LjI4NjUwNiA0NC4yNDExOTA0IDExNS43NzQ0NDQgMC44OTQzNDgzNyA2OC40ODEzNTE1IDY0LjAxMTI5NjUgNTUuNDcxNTgyOCA5NiAwIDEyNy45ODg3MDQgNTUuNDcxNTgyOCAxOTEuMTA1NjUyIDY4LjQ4MTM1MTUgMTQ3Ljc1ODgxIDExNS43NzQ0NDQgMTU0Ljc3ODUyNSAxNzkuMjg2NTA2Ij48L3BvbHlnb24+CiAgICA8L2c+Cjwvc3ZnPg==");
            -webkit-mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTkycHgiIGhlaWdodD0iMTgwcHgiIHZpZXdCb3g9IjAgMCAxOTIgMTgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCA2MC4xICg4ODEzMykgLSBodHRwczovL3NrZXRjaC5jb20gLS0+CiAgICA8dGl0bGU+c3Rhci0yPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBvbHlnb24gaWQ9InN0YXItMiIgZmlsbD0iIzAwMDAwMCIgcG9pbnRzPSI5NiAxNTMuMDQzNjYxIDM3LjIyMTQ3NDggMTc5LjI4NjUwNiA0NC4yNDExOTA0IDExNS43NzQ0NDQgMC44OTQzNDgzNyA2OC40ODEzNTE1IDY0LjAxMTI5NjUgNTUuNDcxNTgyOCA5NiAwIDEyNy45ODg3MDQgNTUuNDcxNTgyOCAxOTEuMTA1NjUyIDY4LjQ4MTM1MTUgMTQ3Ljc1ODgxIDExNS43NzQ0NDQgMTU0Ljc3ODUyNSAxNzkuMjg2NTA2Ij48L3BvbHlnb24+CiAgICA8L2c+Cjwvc3ZnPg==");
            mask-size: 200%;
            -webkit-mask-size: 200%;
            mask-position: left;
            -webkit-mask-position: left;
            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;
            background-color: rgb(250 204 21 / 1);
            cursor: default;
            width: 0.75rem;
            height: 1.5rem;
            margin: 0;
            padding: 0;

            &:nth-child(even) {
              mask-position: right;
              -webkit-mask-position: right;
            }

            &:checked ~ .detail-body-review-star {
              background-color: rgb(250 204 21 / 0.2);
            }
          }
        }

        .detail-body-review-rating {
          margin-left: 8px;
        }
      }

      .detail-body-price {
        font-size: 1.875rem;
        line-height: 2.25rem;
        margin: 8px 0 16px;
      }

      .detail-body-btn-area {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 1rem;

        .detail-body-put-in-cart-btn,
        .detail-body-go-to-cart-btn {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          padding: 0px 16px;
          height: 3rem;
          font-size: 0.875rem;
          font-weight: 600;
          border-radius: 0.5rem;
          cursor: pointer;
          text-decoration: none;
        }

        .detail-body-put-in-cart-btn {
          border: 1px solid hsl(262 80% 50% / 1);
          background-color: hsl(262 80% 50% / 1);
          color: white;

          &:active {
            transform: scale(0.95);
            transition: 0.1s;
          }

          &:hover {
            background-color: hsl(262 80% 40% / 1);
            border: 1px solid hsl(262 80% 40% / 1);
          }
        }

        .detail-body-go-to-cart-btn {
          text-decoration: none;
          border: 1px solid currentColor;
          background-color: inherit;
          color: hsl(220 13% 69% / 1);

          &:active {
            transform: scale(0.95);
            transition: 0.1s;
          }

          &:hover {
            background-color: hsl(220 13% 69% / 1);
            color: hsl(220 18% 20%);
          }
        }
      }
    }
  }
}
