$color-darker: #191d24;
$color-brighter: #a6adba;

$color-common: hsl(220 18% 20% / 1);

$color-bright-gray: rgb(179, 179, 179);
$color-blue-gray: rgb(75 85 99 / 1);

$color-card-info: rgb(55 65 81 / 1);

$color-footer: hsl(220 17% 17% / 1);
