@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Noto Sans KR", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input {
  margin: 0;
  padding: 0;
  background-color: inherit;
  outline: 0;
  border: 0;
}

.common-wrapper {
  padding-top: 64px;
  background-color: hsl(220, 18%, 20%);
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
}
.modal-background .modal-container {
  position: fixed;
  width: 500px;
  height: 204px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(220, 18%, 20%);
  border-radius: 16px;
}
.modal-background .modal-container .modal-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 24px;
  color: #a6adba;
}
.modal-background .modal-container .modal-wrapper .modal-contents {
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 1.4;
}
.modal-background .modal-container .modal-wrapper .modal-contents .modal-contents-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}
.modal-background .modal-container .modal-wrapper .modal-ok-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0px 16px;
  height: 3rem;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid hsl(262, 80%, 50%);
  background-color: hsl(262, 80%, 50%);
  color: white;
}
.modal-background .modal-container .modal-wrapper .modal-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  color: white;
}
.modal-background .modal-container .modal-wrapper .modal-close-btn .modal-close-btn-icon {
  font-size: 20px;
}

@keyframes moveToRight {
  0% {
    transform: translate(-100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
.drawer-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  padding: 16px;
  width: 300px;
  height: 100%;
  background-color: hsl(220, 18%, 20%);
  animation: moveToRight 0.2s;
}
@media (max-width: 620px) {
  .drawer-wrapper {
    width: 100%;
  }
}
.drawer-wrapper .close-btn {
  position: absolute;
  right: 12px;
  top: 24px;
  padding: 4px;
  width: 24px;
  height: 24px;
  color: #a6adba;
}
.drawer-wrapper .drawer-item {
  display: flex;
  align-items: center;
  width: 80%;
  height: 48px;
  padding: 12px 16px;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.category-log-area {
  display: flex;
  align-items: center;
  padding: 8px 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: hsl(220, 18%, 20%);
  color: #a6adba;
}
.category-log-area .category-log-first {
  display: flex;
  align-items: center;
  position: relative;
}
.category-log-area .category-log-first::after {
  content: "";
  display: flex;
  align-items: center;
  left: 50%;
  top: 50%;
  width: 5px;
  height: 5px;
  margin: 0 8px;
  border-right: 1px solid #a6adba;
  border-bottom: 1px solid #a6adba;
  transform: translate(-50%, -50%);
  transform: rotate(-45deg);
}

.skeleton {
  border-radius: 8px;
  background-color: rgb(222, 222, 222);
}
.skeleton.image {
  width: 70%;
  height: 70%;
}
.skeleton.title {
  width: 100%;
  height: 28px;
  margin-bottom: 8px;
}
.skeleton.price {
  width: 100%;
  height: 28px;
}

.header-wrapper {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 8px;
  width: 100%;
  height: 64px;
  background-color: #191d24;
  color: white;
  z-index: 10;
}
.header-wrapper .header-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}
.header-wrapper .header-container .header-drawer-btn,
.header-wrapper .header-container .header-mode-toggle,
.header-wrapper .header-container .header-search-btn,
.header-wrapper .header-container .header-basket-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 0.5rem;
  cursor: pointer;
}
.header-wrapper .header-container .header-drawer-btn .header-drawer-btn-img,
.header-wrapper .header-container .header-drawer-btn .header-mode-toggle-btn,
.header-wrapper .header-container .header-drawer-btn .header-search-btn-img,
.header-wrapper .header-container .header-drawer-btn .header-basket-btn-img,
.header-wrapper .header-container .header-mode-toggle .header-drawer-btn-img,
.header-wrapper .header-container .header-mode-toggle .header-mode-toggle-btn,
.header-wrapper .header-container .header-mode-toggle .header-search-btn-img,
.header-wrapper .header-container .header-mode-toggle .header-basket-btn-img,
.header-wrapper .header-container .header-search-btn .header-drawer-btn-img,
.header-wrapper .header-container .header-search-btn .header-mode-toggle-btn,
.header-wrapper .header-container .header-search-btn .header-search-btn-img,
.header-wrapper .header-container .header-search-btn .header-basket-btn-img,
.header-wrapper .header-container .header-basket-btn .header-drawer-btn-img,
.header-wrapper .header-container .header-basket-btn .header-mode-toggle-btn,
.header-wrapper .header-container .header-basket-btn .header-search-btn-img,
.header-wrapper .header-container .header-basket-btn .header-basket-btn-img {
  display: block;
  width: 24px;
  height: 24px;
}
.header-wrapper .header-container .header-drawer-btn:hover,
.header-wrapper .header-container .header-mode-toggle:hover,
.header-wrapper .header-container .header-search-btn:hover,
.header-wrapper .header-container .header-basket-btn:hover {
  background-color: hsla(220, 13%, 69%, 0.2);
  transition: 0.2s;
}
.header-wrapper .header-container .header-drawer-btn:active,
.header-wrapper .header-container .header-mode-toggle:active,
.header-wrapper .header-container .header-search-btn:active,
.header-wrapper .header-container .header-basket-btn:active {
  transform: scale(0.9);
  background-color: hsla(220, 13%, 69%, 0.2);
  transition: 0.2s;
}
.header-wrapper .header-container .header-basket-btn {
  position: relative;
}
.header-wrapper .header-container .header-basket-btn .count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3px;
  right: 4px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 50%;
  background-color: rgb(239, 68, 68);
  color: white;
}
.header-wrapper .header-container .header-common-btn {
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 6px 8px;
  border-radius: 0.5rem;
  cursor: pointer;
}
.header-wrapper .header-container .header-common-btn.category {
  font-size: 14px;
  padding: 6px 12px;
}
.header-wrapper .header-container .header-common-btn.category:hover {
  background-color: hsla(220, 13%, 69%, 0.2);
  transition: 0.2s;
}
.header-wrapper .header-container .header-common-btn.category:active {
  transform: scale(0.9);
  background-color: hsla(220, 13%, 69%, 0.2);
  transition: 0.2s;
}
.header-wrapper .header-container .header-search-bar-input {
  padding: 0 16px;
  width: 222px;
  height: 48px;
  font-weight: 600;
  font-size: 14px;
  color: white;
  background-color: rgb(75, 85, 99);
  border-radius: 5px;
}
.header-wrapper .header-container .header-search-bar-input::placeholder {
  color: rgb(179, 179, 179);
  letter-spacing: 0.2px;
}
.header-wrapper .header-container .mobile-search-bar {
  position: absolute;
  top: 70px;
  right: 0;
}
.header-wrapper .header-container .mobile-search-bar .header-search-bar-input {
  border-radius: 16px;
}

.header-filter-list {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 56px;
  left: 56px;
  width: 240px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: rgb(75, 85, 99);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.header-filter-list::-webkit-scrollbar {
  display: none;
}
.header-filter-list.active {
  display: flex;
}
.header-filter-list .header-filter-item {
  display: -webkit-box;
  margin: 12px 16px;
  font-size: 15px;
  line-height: 1.7rem;
  color: #a6adba;
  overflow: hidden;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.mobile-search-bar .header-filter-list {
  top: 50px;
  left: 0;
  width: 222px;
  border-radius: 16px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.5rem;
  padding: 40px;
  background-color: hsl(220, 17%, 17%);
  color: #a6adba;
}
.footer-wrapper .footer-site-title-area {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}
.footer-wrapper .footer-site-title-area .footer-site-title {
  text-decoration: none;
  color: hsl(220, 13%, 69%);
}
.footer-wrapper .footer-site-title-area .footer-site-title:hover {
  text-decoration: underline;
}
.footer-wrapper .footer-card-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.footer-wrapper .footer-sns-area {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer-wrapper .footer-sns-area .footer-sns-text {
  display: flex;
  align-items: center;
}
.footer-wrapper .footer-sns-area .footer-sns-text .footer-sns-arrow {
  font-size: 1.5rem;
  color: #a6adba;
}
.footer-wrapper .footer-sns-area a {
  position: relative;
}
.footer-wrapper .footer-sns-area a .footer-sns-image {
  fill: hsl(220, 13%, 69%);
  z-index: 1;
}
.footer-wrapper .footer-copyright {
  text-align: center;
  font-size: 0.875rem;
}

@media (min-width: 1024px) {
  .product-title {
    font-size: 2.25rem;
  }
}
@media (max-width: 1024px) {
  .product-title {
    font-size: 1.875rem;
  }
}
.main-product-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 64px 16px;
}
.main-product-list-wrapper .main-product-list-container .product-title {
  display: block;
  margin-bottom: 32px;
  font-weight: 700;
  text-align: center;
  color: #a6adba;
}

@media (min-width: 1024px) {
  .carousel-prev-btn,
  .carousel-next-btn {
    height: 700px;
  }
  .carousel-slide,
  .carousel-slide-image {
    height: 700px;
  }
}
@media (max-width: 1024px) {
  .carousel-prev-btn,
  .carousel-next-btn {
    height: 220px;
  }
  .carousel-slide,
  .carousel-slide-image {
    height: 220px;
  }
  .linkBtn {
    height: 30px;
  }
}
.carousel-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.carousel-wrapper .carousel-next-btn,
.carousel-wrapper .carousel-prev-btn {
  position: absolute;
  display: block;
  padding: 8px;
  height: 100%;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.4);
  z-index: 1;
}
.carousel-wrapper .carousel-prev-btn {
  left: 0;
}
.carousel-wrapper .carousel-prev-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
.carousel-wrapper .carousel-next-btn {
  right: 0;
}
.carousel-wrapper .carousel-next-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
.carousel-wrapper .carousel-slide-list {
  display: flex;
  transition: transform 0.2s;
}
.carousel-wrapper .carousel-slide-list .carousel-slide {
  position: relative;
  width: 100%;
  flex: 1 0 100%;
}
.carousel-wrapper .carousel-slide-list .carousel-slide.selected {
  display: flex;
}
.carousel-wrapper .carousel-slide-list .carousel-slide .carousel-image-area {
  width: 100%;
}
.carousel-wrapper .carousel-slide-list .carousel-slide .carousel-image-area .carousel-slide-image {
  width: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: bottom;
}
.carousel-wrapper .carousel-slide-list .carousel-slide .carousel-info-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-bottom: 40px;
  padding: 0px 40px;
  height: 140px;
  transform: translate(-50%, -50%);
}
.carousel-wrapper .carousel-slide-list .carousel-slide .carousel-info-area .carousel-info-background-area {
  padding: 20px;
  width: 400px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
}
.carousel-wrapper .carousel-slide-list .carousel-slide .carousel-info-area .carousel-info-title {
  display: block;
  height: 40px;
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: -0.2px;
  color: white;
}
.carousel-wrapper .carousel-slide-list .carousel-slide .carousel-info-area .carousel-info-desc {
  margin: 8px 0;
  color: white;
}
.carousel-wrapper .carousel-slide-list .carousel-slide .carousel-info-area .carousel-info-url-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: 48px;
  padding: 0 16px;
  margin-top: 12px;
  font-size: 0.9rem;
  border-radius: 8px;
  border: 1px solid hsl(218, 18%, 12%);
  background-color: hsl(218, 18%, 12%);
  color: hsl(220, 13%, 69%);
  text-decoration: none;
}
.carousel-wrapper .carousel-slide-list .carousel-slide .carousel-info-area .carousel-info-url-btn .carousel-info-url-image {
  height: 20px;
  width: 20px;
  margin-left: 4px;
}

@media (min-width: 1024px) {
  .card-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .card-list .card-info-area {
    padding: 32px;
  }
  .card-list .card-info-area .card-title {
    margin-bottom: 12px;
  }
}
@media (max-width: 1024px) {
  .card-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .card-list .card-info-area {
    padding: 16px;
  }
  .card-list .card-info-area .card-title {
    margin-bottom: 4px;
  }
  .card-info-area {
    padding: 16px;
  }
  .card-info-area .card-title {
    margin-bottom: 4px;
  }
}
@media (max-width: 768px) {
  .card-list {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(320px, 1fr);
    overflow-x: auto;
  }
}
@media (max-width: 480px) {
  .card-list {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(220px, 1fr);
    overflow-x: auto;
  }
}
.card-list {
  display: grid;
  gap: 1.5rem;
}
.card-list .card {
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  text-decoration: none;
  color: hsl(220, 13%, 69%);
  overflow: hidden;
}
.card-list .card .card-image-area {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 320px;
  background-color: white;
}
.card-list .card .card-image-area .card-lazy-load-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
}
.card-list .card .card-image-area:hover .card-image {
  max-height: 60%;
}
.card-list .card .card-image-area .card-image {
  max-width: 60%;
  max-height: 50%;
  transition-duration: 0.3s;
}
.card-list .card .card-info-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  background-color: rgb(55, 65, 81);
}
.card-list .card .card-info-area .card-title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  overflow-y: auto;
}
.card-list .card .card-info-area .card-price {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.category-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 16px 104px;
}
.category-wrapper .category-container .product-title {
  display: block;
  margin-bottom: 32px;
  font-weight: 700;
  text-align: center;
  color: #a6adba;
}

@media (min-width: 1024px) {
  .detail-container {
    flex-direction: row;
    gap: 32px;
  }
  .detail-container .detail-body-wrapper {
    height: 320px;
  }
}
@media (max-width: 1024px) {
  .detail-container {
    flex-direction: column;
    gap: 8px;
  }
  .detail-container .detail-image-area {
    width: 100%;
  }
}
.detail-wrapper {
  padding: 20px 16px 104px;
  min-height: calc(100vh - 4rem - 288px);
}
.detail-wrapper .detail-container {
  display: flex;
  align-items: center;
  margin-top: 56px;
}
.detail-wrapper .detail-container .detail-image-area {
  display: flex;
  justify-content: center;
  padding: 16px;
  min-width: 320px;
  height: 320px;
  background-color: white;
  border-radius: 1rem;
}
.detail-wrapper .detail-container .detail-image-area .detail-image {
  object-fit: contain;
  width: 288px;
  height: 288px;
}
.detail-wrapper .detail-container .detail-body-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 0.5rem;
  color: hsl(220, 13%, 69%);
}
.detail-wrapper .detail-container .detail-body-wrapper .detail-body-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: hsl(220, 13%, 69%);
}
.detail-wrapper .detail-container .detail-body-wrapper .detail-body-title .detail-body-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  margin-left: 8px;
  height: 1.25rem;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 1.9rem;
  border: solid 1px hsl(175, 70%, 41%);
  background-color: hsl(175, 70%, 41%);
  color: white;
}
.detail-wrapper .detail-container .detail-body-wrapper .detail-body-description {
  flex-grow: 1;
  line-height: 1.5rem;
}
.detail-wrapper .detail-container .detail-body-wrapper .detail-body-review-area {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.detail-wrapper .detail-container .detail-body-wrapper .detail-body-review-area .detail-body-review-star-list {
  display: flex;
}
.detail-wrapper .detail-container .detail-body-wrapper .detail-body-review-area .detail-body-review-star-list .detail-body-review-star {
  -webkit-appearance: none;
  mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTkycHgiIGhlaWdodD0iMTgwcHgiIHZpZXdCb3g9IjAgMCAxOTIgMTgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCA2MC4xICg4ODEzMykgLSBodHRwczovL3NrZXRjaC5jb20gLS0+CiAgICA8dGl0bGU+c3Rhci0yPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBvbHlnb24gaWQ9InN0YXItMiIgZmlsbD0iIzAwMDAwMCIgcG9pbnRzPSI5NiAxNTMuMDQzNjYxIDM3LjIyMTQ3NDggMTc5LjI4NjUwNiA0NC4yNDExOTA0IDExNS43NzQ0NDQgMC44OTQzNDgzNyA2OC40ODEzNTE1IDY0LjAxMTI5NjUgNTUuNDcxNTgyOCA5NiAwIDEyNy45ODg3MDQgNTUuNDcxNTgyOCAxOTEuMTA1NjUyIDY4LjQ4MTM1MTUgMTQ3Ljc1ODgxIDExNS43NzQ0NDQgMTU0Ljc3ODUyNSAxNzkuMjg2NTA2Ij48L3BvbHlnb24+CiAgICA8L2c+Cjwvc3ZnPg==");
  -webkit-mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTkycHgiIGhlaWdodD0iMTgwcHgiIHZpZXdCb3g9IjAgMCAxOTIgMTgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCA2MC4xICg4ODEzMykgLSBodHRwczovL3NrZXRjaC5jb20gLS0+CiAgICA8dGl0bGU+c3Rhci0yPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBvbHlnb24gaWQ9InN0YXItMiIgZmlsbD0iIzAwMDAwMCIgcG9pbnRzPSI5NiAxNTMuMDQzNjYxIDM3LjIyMTQ3NDggMTc5LjI4NjUwNiA0NC4yNDExOTA0IDExNS43NzQ0NDQgMC44OTQzNDgzNyA2OC40ODEzNTE1IDY0LjAxMTI5NjUgNTUuNDcxNTgyOCA5NiAwIDEyNy45ODg3MDQgNTUuNDcxNTgyOCAxOTEuMTA1NjUyIDY4LjQ4MTM1MTUgMTQ3Ljc1ODgxIDExNS43NzQ0NDQgMTU0Ljc3ODUyNSAxNzkuMjg2NTA2Ij48L3BvbHlnb24+CiAgICA8L2c+Cjwvc3ZnPg==");
  mask-size: 200%;
  -webkit-mask-size: 200%;
  mask-position: left;
  -webkit-mask-position: left;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: rgb(250, 204, 21);
  cursor: default;
  width: 0.75rem;
  height: 1.5rem;
  margin: 0;
  padding: 0;
}
.detail-wrapper .detail-container .detail-body-wrapper .detail-body-review-area .detail-body-review-star-list .detail-body-review-star:nth-child(even) {
  mask-position: right;
  -webkit-mask-position: right;
}
.detail-wrapper .detail-container .detail-body-wrapper .detail-body-review-area .detail-body-review-star-list .detail-body-review-star:checked ~ .detail-body-review-star {
  background-color: rgba(250, 204, 21, 0.2);
}
.detail-wrapper .detail-container .detail-body-wrapper .detail-body-review-area .detail-body-review-rating {
  margin-left: 8px;
}
.detail-wrapper .detail-container .detail-body-wrapper .detail-body-price {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 8px 0 16px;
}
.detail-wrapper .detail-container .detail-body-wrapper .detail-body-btn-area {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}
.detail-wrapper .detail-container .detail-body-wrapper .detail-body-btn-area .detail-body-put-in-cart-btn,
.detail-wrapper .detail-container .detail-body-wrapper .detail-body-btn-area .detail-body-go-to-cart-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0px 16px;
  height: 3rem;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}
.detail-wrapper .detail-container .detail-body-wrapper .detail-body-btn-area .detail-body-put-in-cart-btn {
  border: 1px solid hsl(262, 80%, 50%);
  background-color: hsl(262, 80%, 50%);
  color: white;
}
.detail-wrapper .detail-container .detail-body-wrapper .detail-body-btn-area .detail-body-put-in-cart-btn:active {
  transform: scale(0.95);
  transition: 0.1s;
}
.detail-wrapper .detail-container .detail-body-wrapper .detail-body-btn-area .detail-body-put-in-cart-btn:hover {
  background-color: hsl(262, 80%, 40%);
  border: 1px solid hsl(262, 80%, 40%);
}
.detail-wrapper .detail-container .detail-body-wrapper .detail-body-btn-area .detail-body-go-to-cart-btn {
  text-decoration: none;
  border: 1px solid currentColor;
  background-color: inherit;
  color: hsl(220, 13%, 69%);
}
.detail-wrapper .detail-container .detail-body-wrapper .detail-body-btn-area .detail-body-go-to-cart-btn:active {
  transform: scale(0.95);
  transition: 0.1s;
}
.detail-wrapper .detail-container .detail-body-wrapper .detail-body-btn-area .detail-body-go-to-cart-btn:hover {
  background-color: hsl(220, 13%, 69%);
  color: hsl(220, 18%, 20%);
}

@media (min-width: 1024px) {
  .cart-container {
    flex-direction: row;
  }
  .cart-container .cart-image-area {
    width: 224px;
  }
}
@media (max-width: 1024px) {
  .cart-container {
    flex-direction: column;
  }
  .cart-container .cart-image-area {
    min-height: 100%;
    width: 100%;
  }
  .cart-container .cart-card-area {
    flex-direction: column;
  }
  .cart-container .cart-total-area {
    margin-top: 40px;
  }
}
.cart-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 16px 104px;
  min-height: calc(100vh - 4rem - 288px);
}
.cart-wrapper .cart-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: #a6adba;
}
.cart-wrapper .cart-container .cart-card-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
}
.cart-wrapper .cart-container .cart-card-list .cart-card-area {
  display: flex;
  gap: 32px;
  padding: 20px 0;
  border-bottom: 2px solid hsl(220, 17%, 17%);
}
.cart-wrapper .cart-container .cart-card-list .cart-card-area:first-child {
  border-top: 2px solid hsl(220, 17%, 17%);
}
.cart-wrapper .cart-container .cart-card-list .cart-card-area .cart-image-area {
  display: block;
  flex-shrink: 0;
  padding: 16px;
  overflow: hidden;
  background-color: white;
  border-radius: 1rem;
}
.cart-wrapper .cart-container .cart-card-list .cart-card-area .cart-image-area .cart-image {
  object-fit: contain;
  width: 100%;
  height: 192px;
}
.cart-wrapper .cart-container .cart-card-list .cart-card-area .cart-info-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  gap: 1.5rem;
}
.cart-wrapper .cart-container .cart-card-list .cart-card-area .cart-info-area .cart-info-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cart-wrapper .cart-container .cart-card-list .cart-card-area .cart-info-area .cart-info-group .cart-info-title-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-wrapper .cart-container .cart-card-list .cart-card-area .cart-info-area .cart-info-group .cart-info-title-group .cart-info-title {
  display: block;
  width: 520px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}
.cart-wrapper .cart-container .cart-card-list .cart-card-area .cart-info-area .cart-info-group .cart-info-title-group .cart-info-close-btn {
  padding: 4px;
  font-size: 32px;
  cursor: pointer;
}
.cart-wrapper .cart-container .cart-card-list .cart-card-area .cart-info-area .cart-info-group .cart-info-price {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.cart-wrapper .cart-container .cart-card-list .cart-card-area .cart-info-area .cart-info-btn-group {
  display: flex;
  justify-self: end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  overflow: hidden;
  padding-bottom: 8px;
}
.cart-wrapper .cart-container .cart-card-list .cart-card-area .cart-info-area .cart-info-btn-group button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 3rem;
  font-size: 1.25rem;
  background-color: hsl(262, 80%, 50%);
  border: 0;
  color: hsl(220, 13%, 69%);
}
.cart-wrapper .cart-container .cart-card-list .cart-card-area .cart-info-area .cart-info-btn-group .cart-info-delete-btn {
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  color: white;
}
.cart-wrapper .cart-container .cart-card-list .cart-card-area .cart-info-area .cart-info-btn-group .cart-info-delete-btn:disabled {
  background-color: rgb(55, 65, 81);
  color: rgb(158, 158, 158);
}
.cart-wrapper .cart-container .cart-card-list .cart-card-area .cart-info-area .cart-info-btn-group .cart-info-count-item {
  background-color: hsl(220, 17%, 17%);
  font-size: 0.875rem;
}
.cart-wrapper .cart-container .cart-card-list .cart-card-area .cart-info-area .cart-info-btn-group .cart-info-add-btn {
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  color: white;
}
.cart-wrapper .cart-container .cart-total-list {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 40px;
  width: 180px;
  height: 120px;
}
.cart-wrapper .cart-container .cart-total-list .cart-total-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  flex-shrink: 0;
}
.cart-wrapper .cart-container .cart-total-list .cart-total-area .cart-total-text {
  font-size: 1.5rem;
  line-height: 2rem;
}
.cart-wrapper .cart-container .cart-total-list .cart-total-area .cart-total-buy-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0px 24px;
  height: 3rem;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 0.5rem;
  background-color: hsl(262, 80%, 50%);
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.cart-wrapper .cart-container .cart-total-list .cart-total-area .cart-total-buy-btn:disabled {
  background-color: rgb(55, 65, 81);
  color: rgb(158, 158, 158);
}

.cart-empty-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart-empty-list .cart-empty-text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}
.cart-empty-list .cart-go-shopping-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0px 16px;
  height: 3rem;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 0.5rem;
  background-color: hsl(262, 80%, 50%);
  color: white;
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */